<html>
<head>
	<title></title>
</head>
<body>
	<br>
	<%= render :partial => 'header' %>

	<div>
		<%= form_for(:post, url: '/posts', :method => 'post') do |f| %>

		    <%= f.label :title %>
		    <%= f.text_field :author %>
		    <br>
		    <br>
		    <div class="blog-post">
			    <%= f.label :content %>
			    <%= f.text_area :content, "cols" => 100, "rows" => 100 %>
			</div>
		    <br>
		    <br>
  		<%= f.submit "make post"%>
  		<% end %>
	</div>

	<%= render :partial => 'footer' %>
</body>
</html>

