<html>
<head>
	<title></title>
</head>
<body>
	<%= render :partial => 'header' %>

	<section class="posts">
		<div>
			<h3><%= @post.author %></h3>
			<br>
			<%= @post.content %>
			<br>
			<% if current_user %>
				<a href="/posts/<%= @post.id %>/edit">edit this post</a>	
			<% else %>
				
			<% end %>
			
		</div>
	</section>
	<br>
	<br>
	<h4>c o m m e n t s</h4>
		<div id="comments">
	        <%= render :partial => @post.comments %>
		</div>

	<%= form_for [@post, Comment.new] do |f| %>
        <p>
            <%= f.label :body, "new comment" %><br/>
            <%= f.text_area :body %>
        </p>
        <p><%= f.submit "add comment" %></p>
	<% end %>

	<%= render :partial => 'footer' %>
</body>
</html>