<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<%= @post.author %>
		<%= @post.content %>
		<br>
		<a href="/posts/<%= @post.id %>/edit">Edit this post</a>	
	</div>

	<h4>Comments</h4>
		<div id="comments">
	        <%= render :partial => @post.comments %>
		</div>

	<%= form_for [@post, Comment.new] do |f| %>
        <p>
            <%= f.label :body, "New comment" %><br/>
            <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add comment" %></p>
	<% end %>
</body>
</html>